.detail {
    text-align: center;
    color: rgb(64, 8, 8);
    
   
    background-image: linear-gradient(180deg, rgb(34, 180, 199), rgb(235, 237, 216));
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;


}

.detail img {
    width: 100%;

    padding: 5px;
}

.detail address {
    background-color: black;
    color: rgb(179, 245, 240);

}

.detail h1 {
    background-color: black;
    color: rgb(179, 238, 245);
}