.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  /* background-color: #0d8994; */
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); */
  border: 3px solid black;
  padding: 1rem;
  text-align: center;
}

.auth h1 {
  text-align: center;
  color: white;
  background-color: black;
  padding: 5px;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #ffffff;
  color: #912ad2;
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: rgb(29, 20, 3);
  /* background-color: #ffffff; */
  border: 1px solid #cc655c;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  color: #070301;
  /* background-color: bisque; */
  border-color: #cec4d5;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #faf8f7;
  background-color: #070301;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  /* background-color: transparent; */
  color: #e3d2d2;
}

.invalid {
  color: rgb(252, 4, 4);
}