@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');


* {
  box-sizing: border-box;
}

body {

  font-family: 'Open Sans', 'Lato', sans-serif;
  height: 100%;
  background-image: linear-gradient(180deg, rgb(223, 217, 217),rgb(144, 189, 208));
  margin: 0;

}

body::after {
  content: "";
  background-image: url('../images/bg4.jpg'), url('https://images.unsplash.com/photo-1573270689103-d7a4e42b609a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.8; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

.loading {
  align-items: center;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .loading{
    align-items: center;

  }
}